textarea,
input {
    border: none;
}

:root {
    --bg-theme: linear-gradient(135deg, rgba(98, 44, 102, 0.98), #2E377A);
    --bg-theme--first: rgba(98, 44, 102, 1);
    --bg-theme--second: rgba(68, 50, 114, 1);
    --bg-theme--app: #22252D;
    --bg-theme--app-second: #393939;
    --bg-theme--app-hover: #505050;
    --font-main-color: #FFF;
    --font-second-color: rgba(255, 255, 255, 0.7);
    --icon-reverse-color: invert(100%) sepia(0%) saturate(3979%) hue-rotate(42deg) brightness(99%) contrast(107%);
    --subpage-main-color: #2E377A;
    --subpage-second-color: rgb(216, 46, 68);
    --subpage-second-color--opacity: rgba(216, 46, 68, 0.4);
}

input::placeholder,
textarea::placeholder {
    color: var(--font-second-color);
    opacity: 0.6;
}

input[type=range],
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .25em;
    background: #ccc;
}

input[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .25em;
}

input[type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .25em;
    background: #ccc;
}

input[type=range]::-moz-range-progress {
    height: .25em;
    background: #95a;
}

input[type=range]::-ms-fill-lower {
    height: .25em;
    background: #95a;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: .5*(.25em - 1.5em);
    box-sizing: border-box;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #f90;
}

input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f90;
}

input[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #f90;
}

input[type=range]::-ms-tooltip {
    display: none
}

body {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 12px;
}

button {
    border: unset;
    background: unset;
    cursor: pointer;
}

 ::-webkit-scrollbar {
    width: 0px;
    height: 7px;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(154deg, #ffb77e 8%, #ff5ba3 62%);
    border-radius: 15px;
}

 ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: #ff5ba3 #f0f0f0;
}

.scroll-hidden {
    scrollbar-width: none;
}


/*Chrome*/

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 640px;
    height: 2px;
    background-color: #dedede;
    background-image: linear-gradient(to right, #ffb77e, #ff5ba3);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    border: 0;
    background: #ff5ba3;
    border-radius: 10px;
    -webkit-appearance: none;
}

img {
    width: 100%;
    height: 100%;
}

.icon {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon--sad-face {
    background-image: url('http://cdn.haba.usermd.net/os/icons/sad-face.svg');
}

.icon--filter {
    background-image: url('http://cdn.haba.usermd.net/os/icons/filter.svg');
}

.icon--sort {
    background-image: url('http://cdn.haba.usermd.net/os/icons/sort.svg');
}

.icon--logo {
    background-image: url('http://cdn.haba.usermd.net/os/icons/rocket.svg');
}

.icon--reverse-color {
    filter: var(--icon-reverse-color);
}

.icon--reverse-white {
    filter: invert(100%) sepia(0%) saturate(3979%) hue-rotate(42deg) brightness(99%) contrast(107%);
}

.hidden {
    display: none !important;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-theme {
    background-image: linear-gradient(135deg, rgba(98, 44, 102, 0.98), rgba(68, 50, 114, 0.98));
}

.bg-theme--no-gradient {
    background-color: #662B65;
}

.bg-dark--hover:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.logo-red {
    color: var(--subpage-second-color);
}

.c-title {
    color: #FFF;
}

.c-subtitle {
    color: rgb(231, 231, 231);
}

.vertical-line {
    height: 50%;
    border-color: rgba(255, 255, 255, 0.473);
}

.horizontal-line {
    width: 100%;
    border-color: rgba(255, 255, 255, 0.473);
}

.line--light-color {
    border-color: rgba(255, 255, 255, 0.3);
}

 ::-webkit-scrollbar {
    width: 0px;
    height: 7px;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(154deg, #ffb77e 8%, #ff5ba3 62%);
    border-radius: 15px;
}

 ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}


/*Chrome*/

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 640px;
    height: 2px;
    background-color: #dedede;
    background-image: linear-gradient(to right, #ffb77e, #ff5ba3);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    margin-top: -5px;
    border: 0;
    background: #ff5ba3;
    border-radius: 10px;
    -webkit-appearance: none;
}


/*Form */

.settings-form-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}

.settings-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.settings-form-wrapper--column {
    flex-direction: column;
    padding: 0.5rem 0;
}

.settings-form-column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}

.settings-form-label {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.settings-form-input,
.settings-form-select {
    width: calc(100% - 3rem);
    height: 30px;
    background-color: rgba(126, 126, 126, 0.3);
    color: var(--font-main-color);
    padding: 0 1rem;
    border: none;
    border-radius: 100px;
    font-family: 'Montserrat';
}

.settings-form-select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.5rem);
    background-position-y: 5px;
}

.os-appBox .app-container,
.box-shadow {
    box-shadow: 4px 4px 10px -2px rgba(117, 117, 117, 0.568);
}

.box-shadow-dark {
    box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 0.4);
}

.menu-options-user__img .icon {
    border-radius: 100px;
}

.btn-app-circle {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFF;
    background-color: #E67500;
    border-radius: 100px;
}


/* Bookmark Global Style */

.bookmark-category--favorites {
    background-color: #FF4693;
}

.bookmark-category--programming {
    background-color: #000;
}

.bookmark-category--traveling {
    background-color: #4CAF50;
}

.bookmark-category--cooking {
    background-color: #662B65
}

.bookmark-category--education {
    background-color: #2D60E3;
}

.bookmark-category--work {
    background-color: #1a5a70;
}

.bookmark-category--home {
    background-color: #912951;
}

.bookmark-category--others {
    background-color: #d38e2e;
}