input[type=range],
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .25em;
    background: #ccc;
}

input[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .25em;
    background: #ccc;
}

input[type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: .25em;
    background: #ccc;
}

input[type=range]::-moz-range-progress {
    height: .25em;
    background: #95a;
}

input[type=range]::-ms-fill-lower {
    height: .25em;
    background: #95a;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: .5*(.25em - 1.5em);
    box-sizing: border-box;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #f90;
}

input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #f90;
}

input[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #f90;
}

input[type=range]::-ms-tooltip {
    display: none
}